/* ------ Common Css ----- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
/* ------Header Start------ */
header{
    background-color: #FFF4E7;
    padding: 36px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.navLinks{
    display: flex;
    gap: 48px;
}
.navLinks li a{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* -----Hero Area Start ----- */
.hero{
    background-color: #FFF4E7;
    padding-top: 100px;
    padding-bottom: 40px;
}
.heroContent{
    text-align: center;
}
.heroContent h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
   
}
.heroContent p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 30px 0;
}
.btnPrimary{
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    display: inline-block;
}
.heroImage{
    border-radius: 8px;
    margin-top: 50px;
    text-align: center;
}
.heroImage img{
    max-width: 100%;
}
/* ----- Features Start ------ */
.features{
    margin-top: 100px;
}
.featuresWrapper{
    display: flex;
    align-items: center;
    gap: 70px;
}
.featuresImages{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}
.featuresContent{
    width: 50%;
}
.sectionHeader{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    }
.headingLight{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.headingOrange{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
} 
.paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 30px;
}  
/* ------Services Start------ */
.services{
    margin-top: 130px;
}
.servicesWrapper{
    display: flex;
    align-items: center;
    gap: 150px;
}
.servicesContent h2{
    border-left: 5px solid #FF900E;
    padding-left: 30px;
}
.card{
    background-color: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 20px;
}
.card h4{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.card p{
    margin-bottom: 0px;
}
.experienceCards{
    text-align: center;
    position: relative;
}
.experience{
    color: white;
    background-color: #FF900E;
    padding: 44px;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    /* position: relative;
    top: -180px;
    left: 85px; */
    position: absolute;
    top: -170px;
    left: 630px;
}
.experience h3{
    font-weight: 700;
    font-size: 65px;
}
.experience p{
    font-weight: 500;
    font-size: 25px;
}

/* ----- Fact Start----- */
.facts{
    margin-top: 130px;
}
.singleFact{
    text-align: center;
    width: 240px;
    padding: 46px 0;
    border: 2px solid #FF900E;
    border-radius: 8px;
    transition: transform .6s  ease-in-out;
    /* transition: box-shadow .3s  ease-in-out; */
    /* display: inline-block; */
}
.factWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.singleFact h3{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin: 8px 0;
}
.singleFact p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
.singleFact:hover{
    transform: scale(1.2);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
/* -----team start------- */
.ourTeam{
    margin-top: 130px;
}
.mumberWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.teamContent h2{
    text-align: center;
}
.teamContent p{
    text-align: center;
}
.memberName{
    font-weight: 600;
    font-size: 24px;
    color: #131313;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 8px;
}
.mamberTitle{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;
}
.teamimg{
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;
}
.teamimg:hover{
    filter: none;
}
/* ----- Sponcers Start ----- */
.sponcers{
    margin-top: 130px;
}
.sponcersContent{
    text-align: center;
}
.sponcersWrapper{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponcersImage{
    filter: grayscale(100%);
    transition: 0.2 all;
    transition: filter .3s ease-in-out;
}
.sponcersImage:hover{
    filter: none;
}
/* ----- Footer Start------ */
footer{
    margin-top: 130px;
    margin-bottom: 200px;
}
.footerInfo
{
    background-color: #FFF4E7;
    text-align: center;
    padding: 40px 0;
    border-radius: 8px;
}

.hide{
    display: none;
}


/* ---------- Responsive Design---------- */

/* ----------
    Small Devices
            -------- */
@media screen and (max-width:576px) {
    .container{
        padding: 0 40px;
    }
    .nav{
        flex-direction: column;
        gap: 20px;
    }
    .navLinks
    {
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
    }
    .header{
        padding-top: 20px;
    }
    .hero{
        padding-top: 20px;
    }
    .heroContent h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
    }
    .heroImage{
        text-align: center;
        border-radius: 8px;
        margin-top: 30px;
    }
}