/* ------ Common Css ----- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
/* ------Header Start------ */
header{
    background-color: #FFF4E7;
    padding: 36px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.navLinks{
    display: flex;
    gap: 48px;
}
.navLinks li a{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* -----Heroarea Start ----- */
.hero{
    background-color: #FFF4E7;
    padding-top: 100px;
    padding-bottom: 40px;
}
.heroContent{
    text-align: center;
}
.heroContent h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
   
}
.heroContent p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 30px 0;
}
.btnPrimary{
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    display: inline-block;
}
.heroImage{
    border-radius: 8px;
    margin-top: 50px;
}